@model PlataformaVIA.Presentacion.Models.ChangePasswordViewModel
@{
    Layout = null;
}
<div class="col-md-12">
    <div class="panel panel-primary list-panel" id="list-panel">
        <div class="panel-heading list-panel-heading">
            <h1 class="panel-title list-panel-title">Cambiar contraseña</h1>
        </div>
        <div class="container center col-md-10 marto15">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "changePass", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                if (((DateTime)ViewBag.UltimoCambioDeClave).AddDays((int)ViewBag.DiasVencimiento) < DateTime.Now)
                {
                    <div class="form-group row">
                        <div id="msgVencimiento" class="col-sm-10 alert-danger">
                            Su contraseña ha superado el límite de @ViewBag.DiasVencimiento.ToString() días, por favor realice el cambio
                        </div>
                    </div>
                }
                <div class="form-group row">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-sm-4 col-form-label" })
                    <div class="col-sm-5">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Contraseña actual", autocomplete = "new-password" })
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger validationMessage" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-4 col-form-label" })
                    <div class="col-sm-5">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Nueva contraseña", autocomplete = "new-password" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger validationMessage" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-4 col-form-label" })
                    <div class="col-sm-5">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirmar nueva contraseña", autocomplete = "new-password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger validationMessage" })
                    </div>
                </div>
                <div class="form-group row textoCentro">
                    <label id="lblresultado" class="textoCentro"></label>
                </div>
                <div class="form-group row">
                    <div class="col-md-4 textoCentro"></div>
                    <div class="col-md-5 textoCentro">
                        <input type="submit" id="btnCambiarPass" value="Cambiar" class="btn btn-primary btn-block" />
                        <input type="button" id="btnContinuar" value="Continuar" style="display:none;" class="btn btn-success btn-block" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {
        $("#changePass").submit(function (e) {
            e.preventDefault();
            if ($('#changePass').validate({
                focusInvalid: false
            }).valid()) {
                $('#lblresultado').empty();
                $.ajax({
                    url: '@Url.Action("_ChangePassword")',
                    dataType: "json",
                    type: "POST",
                    data: $('#changePass').serialize(),
                    success: function (data) {
                        if (data.Error == false) {
                            $('#lblresultado').removeClass('text-danger');
                            $('#lblresultado').addClass('text-success');
                            $('#lblresultado').empty();
                            $('#lblresultado').html('La contraseña ha sido cambiada exitosamente');
                            $('#btnCambiarPass').hide();
                            $('#btnContinuar').show();
                            $('#msgVencimiento').hide();
                            $('#OldPassword').val("");
                            $('#NewPassword').val("");
                            $('#ConfirmPassword').val("");
                        } else {
                            $('#lblresultado').removeClass('text-danger');
                            $('#lblresultado').addClass('text-danger');
                            $('#lblresultado').empty();
                            $('#lblresultado').html('Error: ' + data.Mensaje);
                        }
                    },
                    error: function (error) {
                        $('#lblresultado').removeClass('text-danger');
                        $('#lblresultado').addClass('text-danger');
                        $('#lblresultado').empty();
                        $('#lblresultado').html('Error: ' + error);
                    }
                });
            }
         else {
                $('#lblresultado').removeClass('text-danger');
                $('#lblresultado').addClass('text-danger');
                $('#lblresultado').empty();
                $('#lblresultado').html('Debe diligenciar todos los campos requeridos');
            }
        });

        $(document).on('keypress', function (e) {
            if (event.keyCode === 10 || event.keyCode === 13) {
                event.preventDefault();
            }
        });

        $("#btnContinuar").click(function () {
            window.location.href = '@Url.Content("~/Home/index")';
        });

       
    })
</script>