@model PlataformaVIA.Core.Domain.Cadena.Cadena
<h2 class="title title--sub w-100 text text--color--blue border border--bottom border--color--blue pb-1 bg bg--color--white text-left">
    Información de la Cadena
    <i class="fa fa-sort-down ml-1"></i>
</h2>
<div class="collapse show">
    <div class="c-accordeon__contenedor">
        <table class="table c-table mt-3">
            <tbody>
                <tr>
                    <th scope="row" class="text text--color--black border border--reset p-1 w-50">@Html.DisplayNameFor(model => model.Nit)</th>
                    <td class="text text--color--gray_light border border--reset p-1 w-50"> @Html.DisplayFor(model => model.Nit)</td>
                </tr>
                <tr>
                    <th scope="row" class="text text--color--black border border--reset p-1 w-50">@Html.DisplayNameFor(model => model.RazonSocial)</th>
                    <td class="text text--color--gray_light border border--reset p-1 w-50"> @Html.DisplayFor(model => model.RazonSocial)</td>
                </tr>
                <tr>
                    <th scope="row" class="text text--color--black border border--reset p-1 w-50">@Html.DisplayNameFor(model => model.Nombre)</th>
                    <td class="text text--color--gray_light border border--reset p-1 w-50"> @Html.DisplayFor(model => model.Nombre)</td>
                </tr>
                <tr>
                    <th scope="row" class="text text--color--black border border--reset p-1 w-50">@Html.DisplayNameFor(model => model.TipoCadena)</th>
                    <td class="text text--color--gray_light border border--reset p-1 w-50">@Html.DisplayFor(model => model.TipoCadena)</td>
                </tr>
                <tr>
                    <th scope="row" class="text text--color--black border border--reset p-1 w-50">@Html.DisplayNameFor(model => model.NumeroPuntosVenta)</th>
                    <td class="text text--color--gray_light border border--reset p-1 w-50">@Html.DisplayFor(model => model.NumeroPuntosVenta)</td>
                </tr>
                <tr>
                    <th scope="row" class="text text--color--black border border--reset p-1 w-50">@Html.DisplayNameFor(model => model.ReferenciaPago)</th>
                    <td class="text text--color--gray_light border border--reset p-1 w-50">@Html.DisplayFor(model => model.ReferenciaPago)</td>
                </tr>
                <tr>
                    <th scope="row" class="text text--color--black border border--reset p-1 w-50">@Html.DisplayNameFor(model => model.CodigoCabezaCadena)</th>
                    <td class="text text--color--gray_light border border--reset p-1 w-50">@Html.DisplayFor(model => model.CodigoCabezaCadena)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
