@model PlataformaVIA.Core.Domain.Cadena.Cadena

@{
    Layout = null;
}

<meta name="viewport" content=" width=device-width, initial-scale=1.0" />

<div class="list-panel-heading">
    <div class="row justify-content-center">
        <div class="col textoCentro hidden-lg hidden-md">
            Ver codigo de barras
            <a href="#" id="lnkaux">
                <img src='@Url.Content("~/Content/img/barcode.png")' id="btnVerBarcode" class="img-responsive center-block icon-pointer" alt="Ver código de barras" />
            </a>
        </div>
    </div>
</div>

<div>
    <table id="facturacion-data-table"
           class="table table-striped table-bordered dataTableSinBotones ampliaTabla"
           style="width:100%" />
</div>

<div class="modal fade" id="modal-detalle-barcode">
    <div id="modal-detalle-barcode-container"></div>
</div>

<div class="modal fade" id="modal-detallePago">
    <div id="modal-detallePago-container">
        <div class="modal-dialog big-modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
                    <h3 class="modal-title" id="myModalLabel">Detalle de pago</h3>
                </div>
                <div id="modal-detallePago-body" class="modal-body">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var miFacturacionListVM;

    $(function () {
        $(document).on("preInit.dt", function () {
            var searchDelay = null;
            var $sb = $(".dataTables_filter input[type='search']");
            $sb.off();
            $sb.on("keyup", function (evtObj) {
                var search = $('div.dataTables_filter input').val();

                clearTimeout(searchDelay);

                searchDelay = setTimeout(function () {
                    if (search != null) {
                        dt.search(search).draw();
                    }
                }, 1000);
            });
        });

            miFacturacionListVM = {
                dt: null,

                init: function () {
                    dt = $('#facturacion-data-table').DataTable({
                        "dom": 'lrtip',
                        "responsive": false,
                        "bSort": false,
                        "serverSide": true,
                        "processing": true,
                        "scrollX": true,
                        "rowHeight": 'auto',
                       // "ordering": false,
                        "oLanguage": language['dataTableParameters'],
                        "ajax": {
                            "url":
                                "@Url.Action("GetFiltroAvanzadoFacturacion", "Cadena")",
                            "data": function (data) {
                                data.CodCicloFacturacion = $("#CodCicloFacturacion").val();
                                data.CodCadena = '@Model.Id'
                            },
                            "type": "POST"
                        },
                        "columns": [
                            {
                                className: 'text-center',
                                "mData": null,
                                "bSortable": false,
                                "mRender": function (data, type, full) {
                                    return "";
                                    //return "<a class='py-0 text text--color--white border border--right iniciarModalDetalle' data-id ='" + data.Id + "'><i class='fa fa-search'></i></a>";
                                    //btn btn--solid
                                }
                            },
                            {
                                "title": "Periodo",
                                "data": "Periodo",
                                "searchable": true
                            },
                            {
                                "title": "Fecha limite",
                                "data": "FechaLimite",
                                "render": function (data) {
                                    return moment(data).format('MM/DD/YYYY');
                                },
                                "searchable": true
                            },
                            {
                                "title": "Saldo previo",
                                "data": "SaldoPrevio",
                                render: $.fn.dataTable.render.number(',', '.', 2, '$'),
                                "searchable": true,
                                className: 'text-right'
                            },
                            {
                                "title": "Valor IGT",
                                "data": "ValorIGT",
                                render: $.fn.dataTable.render.number(',', '.', 2, '$'),
                                "searchable": true,
                                className: 'text-right'
                            },
                            {
                                "title": "Valor fiducia",
                                "data": "ValorFiducia",
                                render: $.fn.dataTable.render.number(',', '.', 2, '$'),
                                "searchable": true,
                                className: 'text-right'
                            },
                            {
                                "title": "Total",
                                "data": "Total",
                                render: $.fn.dataTable.render.number(',', '.', 2, '$'),
                                "searchable": true,
                                className: 'text-right'
                            },
                            {
                                "mData": null,
                                "bSortable": false,
                                "mRender": function (data, type, full) {
                                    //return "<a href='@Url.Action("DescargarArchivo", "Common")?file=" + data.RutaArchivo + "'" + ">Descargar</a>";
                                    return "<a id='" + data.RutaArchivo + "' onclick='GenerarTirilla(this.id)' href='#'>Descargar</a>";
                                    //btn btn--solid
                                }
                            },
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]]
                    });
                },
                refresh: function () {
                    $.validator.unobtrusive.parse($('#frmAdvancedSearch')); //Importante agregar para validación en este tipo de vistas parciales
                    if ($("#frmAdvancedSearch").valid()) {
                        dt.ajax.reload();
                    }
                }
            };

            //  Manejador de botón de búsqueda avanzada
            $('#btnEjecutarBusquedaAvanzadaFechas').on("click", miFacturacionListVM.refresh);


            // initialize the datatables
            miFacturacionListVM.init();
            $('#btnVerBarcode').click(function () {
                VerBarcodesCadena();
            });

            $("#lnkaux").on("click", function () {
                return false;
            })
             function VerBarcodesCadena() {

                var url = '@Url.Action("_Barcodes", "Pago")';
                $.get(url + "?esCadena=" + true + "&codigo=" + "@Model.Id", function (data) {
                    $('#modal-detalle-barcode-container').html(data);
                    $('#modal-detalle-barcode').modal('show');
                });
            }
    });

        function GenerarTirilla(tirilla) {

               $.ajax({
                    url: '@Url.Action("GenerarTirillaCadena")',
                   data: {
                       ubicacion: tirilla
                    },
                    type: 'POST',
                    cache: false,
                    async: false,
                    success: function (data) {
                        if (data==false) {
                            alert('Tirilla no disponible');
                        } else {
                           window.location.href = "@Url.RouteUrl(new { Controller = "Certificado", Action = "DescargarCertificado" })/?fileName=" + data;
                        }
                 },
                     error: function (xhr, ajaxOptions, thrownError) {
                         console.log(xhr); console.log(thrownError);
                     }
                });
        }

</script>


